doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 
        header.header 
            .container.header-container     
                .header-logo 
                    img(src="../img/Group.svg", alt="")
                    img(src="../img/logo.svg", alt="")
                .header-search
                    input(type="text" id="searchinput" placeholder="search")
                .header-account 
                    img(src="../img/create.svg", alt="")
                    img(src="../img/plus.svg", alt="")
                    img(src="../img/ring.svg", alt="")
                    img(src="../img/account.svg", alt="")
        main 
            section.hero 
                .container.hero-container 
                    .side-bar 
                        nav.side-nav 
                            ol.side-list 
                                li.side-item 
                                    img(src="../img/home.svg", alt="")
                                    h3 Home
                                li.side-item 
                                    img(src="../img/trends.svg", alt="")
                                    h3 Trends
                                li.side-item 
                                    img(src="../img/subs.svg", alt="")
                                    h3 Subscriptions
                                li.side-item 
                                    img(src="../img/originals.svg", alt="")
                                    h3 Originals
                            ol.side-list 
                                li.side-item 
                                    img(src="../img/library.svg", alt="")
                                    h3 library 
                                li.side-item 
                                    img(src="../img/history.svg", alt="")
                                    h3 history
                                li.side-item 
                                    img(src="../img/your-videos.svg", alt="")
                                    h3 your videos 
                                li.side-item 
                                    img(src="../img/your-movie.svg", alt="")
                                    h3 your movie
                                li.side-item 
                                    img(src="../img/watch-later.svg", alt="")
                                    h3 watch later
                                li.side-item 
                                    img(src="../img/show-more.svg", alt="")
                                    h3 show more 
                            ol.side-list 
                                li.side-item 
                                    h2 SUBRCRIPTIONS
                                li.side-item    
                                    img(src="../img/adem.svg", alt="")
                                    h3 adem itler
                                li.side-item 
                                    img(src="../img/coskun.svg", alt="")
                                    h3 coskun aral 
                                li.side-item 
                                    img(src="../img/yigit.svg", alt="")
                                    h3 yigit Can Ic
                                li.side-item 
                                    img(src="../img/aqua.svg", alt="")
                                    h3 auqa holic 
                                li.side-item 
                                    img(src="../img/yener.svg", alt="")
                                    h3 yener ustun
                                li.side-item 
                                    img(src="../img/spark.svg", alt="")
                                    h3 spark fun
                                li.side-item 
                                    img(src="../img/show-more.svg", alt="")
                                    h3 show 47 more

                                h4 MORE FROM YOUTUBE
                                       
                    .hero-right 
                        .hero-top 
                            ol.hero-list 
                                li.hero-item 
                                    a(href="")  All
                                li.hero-item 
                                    a(href="")  Yatchs
                                li.hero-item 
                                    a(href="")  Boats
                                li.hero-item 
                                    a(href="")  RVs
                                li.hero-item 
                                    a(href="")  Electrical Engineering
                                li.hero-item 
                                    a(href="")  Photocopier
                                li.hero-item 
                                    a(href="")  Cookery
                                li.hero-item 
                                    a(href="")  Apple
                                li.hero-item    
                                    a(href="") →
                        .hero-body 
                            .card 
                                
        script(src="./index.js") 